<div class="container">
    <div class="jumbotron">
        <h1 class="display-4"> The Supreme Cake Admin Page.</h1>
        <p class="lead">This is the admin page of your website which you can check something.</p>
        <hr class="my-4">
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title font-weight-bold">Orders</h5>
                    <p class="card-text">See the orders.</p>
                    <a href="#" class="btn btn-primary">Manager Orders</a>
                </div>
            </div>
        </div>
        <div class="col-3"></div>
    </div>


    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title font-weight-bold">Products</h5>
                    <p class="card-text">Manage the products of your restaurant.</p>
                    <a href="#" class="btn btn-info">Manage Products</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title font-weight-bold">Members</h5>
                    <p class="card-text">See the registered members.</p>
                    <a href="/members" class="btn btn-success">Manage Members</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title font-weight-bold">Applicants</h5>
                    <p class="card-text">Manage the applicants for the careers and job opportunities.</p>
                    <a href="#" class="btn btn-warning">Manage Applicants</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body ">
                    <h5 class="card-title font-weight-bold">Reviews</h5>
                    <p class="card-text">Read reviews about the customers.</p>
                    <a href="#" class="btn btn-secondary">View Reviews</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<br>
<br>