<footer class="py-3 footer-bs bg-dark footer flex-wrapper">
  <div class="container-fluid">
    <br><br>
    <div class="row">

      <div class="col-2">

      </div>

      <div class="col-4">
        <img class="rounded" src="https://via.placeholder.com/300x100" alt="">
      </div>

      <div class="col-2">
        <div class="row d-flex justify-content-center">
          <p align="center" class="text-light">
            Follow us!
          </p>
        </div>

        <div class="col">
          <div class="row d-flex flex-center justify-content-center">
            <ul class="list-unstyled list-inline text-center">
              <li class="list-inline-item">
                <img class="rounded" src="https://via.placeholder.com/50x50" alt="">
              </li>
              <li class="list-inline-item">
                <img class="rounded" src="https://via.placeholder.com/50x50" alt="">
              </li>
              <li class="list-inline-item">
                <img class="rounded" src="https://via.placeholder.com/50x50" alt="">
              </li>
            </ul>
          </div>

        </div>
      </div>

      <div class="col"><br />
        <div class="footer-copyright text-center py-3 text-light">
          © 2020 All Rights Reserved. <a href="#"> food-website.com </a>
        </div>
      </div>

    </div>
  </div>
</footer>


<!-- JQuery library -->
<script src="jquery/jquery.min.js"></script>

<!-- Plugin JavaScript -->
<script src="jquery-easing/jquery.easing.min.js"></script>

<script src="js/products.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<!-- Custom JavaScript for this theme -->
<script src="js/scrolling-nav.js"></script> 

<!-- Bootstrap JavaScript -->
<script src="js/bootstrap.min.js"></script>



</body>

</html>