<body data-spy="scroll" data-target=".navbar" data-offset="100">

  <!-- START NAVIGATION BAR -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="/#home">
      <img class="rounded" src="https://via.placeholder.com/200x50" alt="Logo" style="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/#home"> Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/#products">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/#careers">Careers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/#contact">Contact</a>
        </li>
      </ul>


      <form class="form-inline my-2 my-lg-0">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a class="nav-link btn font-weight-bold" href="/login" role="button">Sign in</a></li>
          <li class="nav-item"> <button class="btn btn-danger my-2 my-sm-0 font-weight-bold" type="submit">ORDER ONLINE </button></li>
        </ul>
      </form>

    </div>
  </nav>

  <!-- END NAVIGATION BAR -->