.header {
  padding-top: 0;
}

body {
  padding-top: 60px;
}

@media screen and (max-width: 768px) {
  body {
    padding-top: 100px;
  }
}

section {
  padding: 150px 0;
}

.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

nav .navbar-nav .nav-link,
nav .navbar-brand {
   color: #000;
}

/* .footer {
  width: 100%;
  position: fixed;
  bottom: 0;
} */

