<div id="careers">
    <section>
        <div class="container">
            <h1 class="display-4">Career Opportunities</h1>
            <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad
                minim
                veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident
                mollit anim id est laborum.</p>
            <a href="/careers" class="btn btn-outline-danger float-right">APPLY HERE</a>
        </div>
    </section>
</div>